<!-- projects.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center">
        <section>
            <h1 class="display-1">Proyectos</h1>
            <!-- Aquí puedes agregar la información sobre tus proyectos -->
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="/img/portafoliooo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Portafolio</h5>
                            <p class="card-text">Mi primer proyecto.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="https://github.com/daniloP07/portafolio-danilo.git" class="btn btn-primary" target="_blank">Ver en GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="proyect2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 2</h5>
                            <p class="card-text">Descripción del segundo proyecto.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="proyect3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 3</h5>
                            <p class="card-text">Descripción del tercer proyecto.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('partials/footer') %>
    
</body>
</html>
